{% extends "CebPhotoBundle::layout.html.twig" %}


{% block cebphoto_body %}

<h1 id="titre">bain</h1>

	<div id="myGallery" class="spacegallery">

		{% for Objet in Objets %}
		    <img src="{{ asset('images/bain/'~Objet.path) }}" alt="{{Objet.name}}" />
		{% endfor %}
		

	</div>

{% endblock %}