{% extends "CebPhotoBundle::layout.html.twig" %}


{% block cebphoto_body %}

<h2 id="titre">Nos salles de bains</h2>

	<div id="myGallery" class="spacegallery">

		{% for Objet in Objets %}
		    <img src="{{ asset('images/bain/'~Objet.path) }}" alt="{{Objet.name}}" />
		{% endfor %}
		

	</div>

{% endblock %}