{% extends "CebPhotoBundle::layout.html.twig" %}

{% block cebphoto_body %}

	<div class="present">
		<p>met tes photos sur le site</p>

		<form action="#" method="post" {{ form_enctype(form) }}>
	    {{ form_widget(form) }}

	    <input type="submit" value="Upload Document" />
		</form>
	</div>

{% endblock %}