{% extends "::layout.html.twig" %}

{% block title %}
	{{ parent() }} - Livre d'or
{% endblock %}

{% block body %}

  <h1>Golden Book</h1>

  {% block cebphoto_body %}
  {% endblock %}

{% endblock %}